@import './components//words-row.scss';
@import './components//type-bar.scss';
@import './components/alert.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87cefa;
    padding: 0px 10px;
}

